<section class="about" id="about">

    <h1>About Me</h1>

    <div class="about-card">

        <div class="about-text">

            <h2>I'm Ashutosh Rath</h2>

            <p>
                I'm an MCA student passionate about Java Full Stack Development.
                Currently learning Angular, Spring Boot, Java, MySQL and DSA.
                I enjoy solving real-world problems and building responsive,
                user-friendly web applications.
            </p>

            <div class="info">

                <div>
                    <span>Name :</span> Ashutosh Rath
                </div>

                <div>
                    <span>Education :</span> MCA
                </div>

                <div>
                    <span>Email :</span> ratha6144@gmail.com
                </div>

                <div>
                    <span>Location :</span> Odisha, India
                </div>

            </div>

        </div>

    </div>

</section>