.hero{

    height:100vh;

    display:flex;

    justify-content:space-around;

    align-items:center;

    padding:100px;

    background:linear-gradient(135deg,#020617,#0f172a,#1e293b);

    color:white;

}

.left{

    width:50%;

}

.left h3{

    color:#38bdf8;

    font-size:25px;

}

.left h1{

    font-size:65px;

    margin:15px 0;

}

.left h2{

    color:#94a3b8;

    margin-bottom:20px;

}

.left p{

    line-height:30px;

    font-size:18px;

    color:#cbd5e1;

}

button{

    margin-top:30px;

    padding:15px 35px;

    border:none;

    border-radius:30px;

    background:#38bdf8;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    transform:scale(1.08);

}

.right img{

    width:340px;

    height:340px;

    border-radius:50%;

    border:6px solid #38bdf8;

    box-shadow:0 0 35px #38bdf8;

}

.typing{

    overflow:hidden;

    white-space:nowrap;

    width:0;

    border-right:3px solid #38bdf8;

    animation:

    typing 4s steps(28,end) infinite,

    blink .7s infinite;

}

@keyframes typing{

0%{
width:0;
}

50%{
width:340px;
}

100%{
width:0;
}

}

@keyframes blink{

50%{
border-color:transparent;
}

}
.right img{

    animation:float 4s ease-in-out infinite;

}

@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-20px);

}

100%{

transform:translateY(0);

}

}

.buttons{

    display:flex;

    gap:20px;

    margin-top:30px;

}

.hire{

    background:#38bdf8;

}

.resume{

    background:transparent;

    border:2px solid #38bdf8;

}

.resume:hover{

    background:#38bdf8;

}


.glow{

    color:white;

    text-shadow:

    0 0 15px #38bdf8,

    0 0 35px #38bdf8;

}