<section class="projects" id="projects">

    <h1>My Projects</h1>

    <div class="project-container">

        <div class="card">

            <h2>Servease</h2>

            <p>
                Service Management Platform using Angular,
                Spring Boot and MySQL.
            </p>

            <a href="https://github.com/nirmal-07-3/Servease" target="_blank">

                <button>View Project</button>

            </a>

        </div>

        <div class="card">

            <h2>Cropio</h2>

            <p>
                AI-based Agriculture Assistant with crop monitoring,
                disease detection and weather insights.
            </p>

            <a href="https://github.com/nirmal-07-3/Cropio" target="_blank">

                <button>View Project</button>
            </a>

        </div>

        <div class="card">

            <h2>SmartShop</h2>

            <p>
                E-commerce platform with admin dashboard!
            </p>

            <a href="https://github.com/nirmal-07-3/SmartShop" target="_blank">

                <button>View Project</button>

            </a>


        </div>

    </div>

</section>